---
import Layout from "../layouts/Layout.astro";
import Neon from "../components/Neon.astro";
import Slider from "../components/Slider.astro";
import Cover from "../components/Cover.astro";
import Slide from "../components/Slide.astro";
---

<Layout title="Hipertexto | Tecnologías Hipermediales">
	<Slider>
		<Cover title="Hipertexto" />
		<Slide title="Hipertexto">
			<img src="/img/hipertexto.gif" alt="">
		</Slide>
		<Slide title="Hipertexto">
			<p>Con <i>Hipertexto</i> me refiero a una escritura <Neon>no secuencial</Neon>, a un texto que se bifurca, que permite que el lector elija y que se lea mejor en una pantalla interactiva. De acuerdo con la noción popular, se trata de una serie de bloques de texto conectados entre sí por enlaces que forman diferentes <Neon>itinerarios</Neon> para el usuario.</p>
			<p slot="footer">Theodor H. Nelson fue el el primero en acuñar la palabra hipertexto en 1965.</p>
		</Slide>
		<Slide title="Hipertexto">
			<img src="/img/landow.jpg" alt="">
		</Slide>
		<Slide title="Hipertexto">
			<p>Derrida, Barthes, Bajtín, Foucault, Deleuze, Guattari.</p>
			<p>Vannevar Bush, Ted Nelson, Douglas Engelbart, Andries van Dam, Tim Berners Lee</p>
		</Slide>
		<Slide title="Hipertexto">
			<p><b>Memex</b></p>
			<img src="/img/memex.jpg" alt="">
			<p slot="footer">As we may think. 1945. Vannevar Bush</p>
		</Slide>
		<Slide title="Hipertexto">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/yJDv-zdhzMY?si=kwz1OKArriFZsHW_&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			<p slot="footer">La madre de todas las demos", Engelbart</p>
		</Slide>
		<Slide title="Hipertexto">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/En_2T7KH6RA?si=aNxMHAlzHBDoZBZ3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			<p slot="footer">Demo Xanadu Space, Nelson</p>
		</Slide>
		<Slide title="Hipertexto y teoría crítica">
			<p><b>Apertura textual</b></p>
			<p class="small">Texto compuesto de unidades discretas (<i>pedazos</i>, <i>bocados</i>) que se pueden entretejer en múltiples montajes. Se puede alejar de un contexto dado para engendrar una infinidad de contextos nuevos.</p>
			<p slot="footer">Derrida</p>
		</Slide>
		<Slide title="Hipertexto y teoría crítica">
			<p><b>Intertextualidad</b></p>
			<p class="small">Alusiones o referencias dentro del texto se hacen más evidentes o se materializan en el hipertexto.</p>
		</Slide>
		<Slide title="Hipertexto y teoría crítica">
			<p><b>Diversidad de voces</b></p>
			<p class="small">Textos dialógicos. Polifónicos. Cada fragmento puede representar una conciencia. No hay una voz única tiránica.</p>
			<p slot="footer">Bajtin</p>
		</Slide>
		<Slide title="Hipertexto y teoría crítica">
			<p><b>El descentrar</b></p>
			<p class="small">Se desplaza constantemente el centro. Es decir, el enfoque o el principio organizador de la experiencia. Lector activo.</p>
		</Slide>
		<Slide title="Hipertexto y teoría crítica">
			<p><b>Rizoma</b></p>
			<p class="small">Oposición a la jerarquía o a toda forma estructural. "A diferencia de un arbol o sus raíces, el rizoma conecta cualquier punto con cualquier otro punto, y sus rasgos no están enlazados necesariamente a rasgos de la misma naturaleza." Múltiples vías de entrada y salida. Conecta cualquier punto con cualquier otro punto. No tiene principio ni final, siempre un medio desde el que crece y al cual excede.</p>
			<p slot="footer">Deleuze y Guattari</p>
		</Slide>
		<Slide title="Ejemplos de hipertexto">
			<img src="/img/elige-tu-propia-aventura.jpg" alt="">
			<p slot="footer"><a href="https://toynostalgia.blogspot.com/2017/01/elige-tu-propia-aventura.html" target="_blank">https://toynostalgia.blogspot.com/2017/01/elige-tu-propia-aventura.html</a></p>
		</Slide>
		<Slide title="Ejemplos de hipertexto">
			<p slot="footer"><a href="http://www.teleportacia.org/war/" target="_blank">My boyfriend came back from the war</a> (net.art)</p>
			<p slot="footer"><a href="http://404.jodi.org/" target="_blank">404.jodi.org</a> (net.art)</p>
			<p slot="footer"><a href="http://wwwwwwwww.jodi.org/" target="_blank">wwwwwwwww.jodi.org</a> (net.art)</p>
			<p slot="footer"><a href="http://postal.free.fr/" target="_blank">Postales</a> (net.art)</p>
			<p slot="footer"><a href="http://www.superbad.com/" target="_blank">Superbad</a> (net.art)</p>
			<p slot="footer"><a href="https://gamejolt.com/games/chas/25643" target="_blank">Chas</a> (literatura electrónica)</p>
			<p slot="footer"><a href="https://www.netflix.com/ar/title/80988062" target="_blank">Black Mirror: Bandersnatch</a> (película)</p>
			<p slot="footer"><a href="https://store.steampowered.com/app/368370/Her_Story/" target="_blank">Her Story</a> (videojuego)</p>
			<p slot="footer"><a href="https://store.steampowered.com/app/1155970/Roadwarden/" target="_blank">Roadwarden</a> (videojuego)</p>
			<p slot="footer"><a href="https://store.steampowered.com/app/1097200/Twelve_Minutes/" target="_blank">Twelve Minutes</a> (videojuego)</p>
		</Slide>
		<Slide>
			<p slot="footer"><a href="/">Volver al inicio</a></p>
		</Slide>
	</Slider>
</Layout>
