---
import Layout from "../layouts/Layout.astro";
import Neon from "../components/Neon.astro";
import Slider from "../components/Slider.astro";
import Cover from "../components/Cover.astro";
import Slide from "../components/Slide.astro";
import TheMenu from "../components/TheMenu.astro";
import TeamList from "../components/TeamList.astro";
---

<Layout title="Introducción a la materia | Seminarios Complementarios de Programación: Web">
	<Slider>
		<Cover title="Seminarios Complementarios de Programación: Web" description="2025" />
		<Slide title="Equipo docente">
			<TeamList names={[ "Ignacio Guerra", "José Casanova" ]} />
		</Slide>
		<Slide>
			<p>¿Qué esperamos de <b><Neon>Seminarios Complementarios de Programación: Web</Neon></b>?</p>
		</Slide>
		<Slide title="Suposiciones...">
			<p><b>Hicieron varias <Neon>obras o trabajos</Neon> y los documentaron.</b></p>
			<p>Fotos, videos, memorias descriptiva y conceptual, etc.</p>
		</Slide>
		<Slide title="Dónde estamos (Roadmaps)">
			<p><a href="https://roadmap.sh/r/roadmap-programacin-2025-por-midudev">https://roadmap.sh/r/roadmap-programacin-2025-por-midudev</a></p>
			<p><a href="https://roadmap.sh/frontend">https://roadmap.sh/frontend</a></p>
		</Slide>
		<Slide title="Principios">
			<p>Ritmo <b><Neon>Ondulatorio</Neon></b>.</p>
			<p>Exposición ~ Práctica / Coding ~ Vibe coding</p>
		</Slide>
		<Slide title="Principios">
			<p>Camino <b><Neon>Espiralado</Neon></b>.</p>
			<p>Los temas no quedan atrás, los revisitamos cuando es necesario.</p>
		</Slide>
		<Slide>
			<p slot="footer"><a href="/">Volver al inicio</a></p>
		</Slide>
	</Slider>
</Layout>
