---
import Neon from './Neon.astro';
---

<ul class="the-menu">
  <li><a href="introduccion"><Neon>introducción</Neon></a></li>
  <li><a href="tecnologias-web"><Neon>tecnologías_web</Neon></a></li>
  <li><a href="hipertexto"><Neon>hipertexto</Neon></a></li>
  <li><a href="html5-historia"><Neon>historia_html5</Neon></a></li>
  <li><a href="html5-sintaxis"><Neon>sintaxis_html5</Neon></a></li>
  <li><a href="css-introduccion"><Neon>introducción_css</Neon></a></li>
  <li><a href="css-tipografia"><Neon>tipografía</Neon></a></li>
</ul>

<style>
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    font-size: 2rem;
  }
  a {
    color: inherit;
  }
</style>